@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@media screen and (max-width: 600px) {
    :root {
      --header-height: 100px;
      --header-height-min: 80px;
    }
  }
  
  /* Theme Colors */
  :root {
    --accent-color: #C5A992;
    --secondary-color: #C5A992;
    --dark-color: #2f2f2f;
    --light-color: #F3F2EC;
    --body-text-color: #2f2f2f;
    --light-text-color: #afafaf;
    --dark-text-color: #2f2f2f;
    --primary-colour: #191919;
    --secondaryrev-colour: goldenrod;
    --star-colour: hsl(38 90% 55%);
  }

  :root,
[data-bs-theme=light] {
  --heading-font: "Prata", Georgia, serif;
  --heading-font-weight: 400;
  --heading-color: var(--bs-dark);
  --heading-line-height: 1.1;

  --swiper-theme-color: var(--bs-primary);

  --custom-easing: cubic-bezier(.17, .67, .83, .67);

  /* theme colors */
  --bs-body-font-size: 0.9rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.7;
  --bs-body-color: #333;
  --bs-body-color-rgb: 51, 51, 51;

  --bs-primary: #C5A992;
  --bs-primary-dark: #C5A992;
  --bs-secondary: #C5A992;
  --bs-black: #111;
  --bs-light: #F1F1F0;
  --bs-dark: #212529;
  --bs-gray: #949494;
  --bs-gray-dark: #51565b;

  --bs-primary-rgb: 169, 128, 115;
  --bs-secondary-rgb: 253, 238, 233;
  --bs-black-rgb: 17, 17, 17;
  --bs-light-rgb: 241, 241, 240;
  --bs-dark-rgb: 33, 37, 41;

  --bs-link-color: var(--bs-dark);
  --bs-link-color-rgb: 17, 17, 17;
  --bs-link-decoration: underline;
  --bs-link-hover-color: var(--bs-primary);
  --bs-link-hover-color-rgb: 169, 128, 115;
}
nav{
  background-color: #C5A992;
}
nav .menu-list a {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.12em;
  }
  
nav .menu-list a.active {
    color: var(--accent-color);
  }

body {
    font-size: 16px;
    line-height: 2;
    background-color: var(--bs-primary);
  }

  section#hero {
    background-image: url('hero.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
    color: #fff;
  }
  
  section#books {
    padding: 50px;
  }
  
  .book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .book {
    width: 30%;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .book img {
    width: 50%;
  }


.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.btn {

  background: #682773;
}

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for buttons */


button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}


/* Float cancel and signup buttons and add an equal width */
.cancelbtn {
  float: left;
  width: 50%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}
.signupbtn{
  float: left;
  width: 50%;
  background-color: #682773;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}
/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* vh stands for viewport height */
  
}

.formSign {
  width: 50%; /* adjust this value to control the form's width */
  background-color: white;
  border-radius: 25px;
  border: 2px solid;
  padding: 20px; 
  width: 50rem;
}

.card{
  border-radius: 25px;
}

#contactForm{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.wish{
  background-color: white;
  border-radius: 20px;
}

.checked {
  color: orange;
}

.containerrev{
  position:absolute;
  top: 50%;
  left: 50%;
  
  width: 40%;
  height: 20%;
  
  transform: translate(-50%, -50%) rotateY(180deg);
}

.containerrev .container__items{
  display: flex;
  align-items: center;
  justify-content: center;
  
  gap: 0 .5em;
  
  width: 100%;
  height: 100%;
}

.containerrev .container__items input{
  display: none;
}

.containerrev .container__items label{
  width: 20%;
  aspect-ratio: 1;
  cursor: pointer;
}

.containerrev .container__items label .star-stroke{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background: var(--secondaryrev-colour);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.containerrev .container__items label .star-stroke .star-fill{
  width: 70%;
  aspect-ratio: 1;
  background: var(--primary-colour);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.containerrev .container__items input:hover ~ label .star-stroke,.container .container__items input:checked ~ label .star-stroke{
  background: var(--star-colour);
}

.containerrev .container__items input:checked ~ label .star-stroke .star-fill{
  background: var(--star-colour);
}

.containerrev .container__items label:hover .label-description::after{
  content: attr(data-content);
  position: fixed;
  left: 0;
  right: 0;
  
  margin-top: 1em;
  margin-inline: auto;
  
  width: 100%;
  height: 2em;
  
  color: #fff;
  
  text-align: center;
  font-size: 2rem;
  
  transform: rotateY(180deg);
}